<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title th:text="#{page.admin.categories.title}"></title>
	<script type="text/javascript" th:src="@{/js/comments.js}"></script>
</head>
<th:block layout:fragment="content">

	<a class="btn btn-info" data-toggle="collapse" href="#new-category-form" role="button" aria-expanded="false" aria-controls="new-category-form">New category</a>
	<form method="POST" th:action="@{/admin/createCategory}" id="new-category-form" class="collapse">
		<div class="input-group">
			<span class="input-group-text" id="label-name">Name</span>
			<input type="text" class="form-control" aria-describedby="label-name" name="name" />
		</div>
		<div class="input-group">
			<span class="input-group-text" id="label-description">Description</span>
			<input type="text" class="form-control" aria-describedby="label-description" name="description" />
		</div>
		<button type="submit" class="btn btn-primary" th:text="#{button.comment.send.label}"></button>
	</form>
	<br />
	<table id="table-active-categories" class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th th:text="#{page.admin.table.category.name}"></th>
				<th th:text="#{page.admin.table.category.description}"></th>
				<th th:text="#{page.admin.table.category.controls}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="category : ${activeCategories}">
				<td th:text="${category.id}"></td>
				<td th:text="${category.name}"></td>
				<td th:text="${category.description}"></td>
				<td><button type="button" class="btn btn-danger" onClick="">Activate</button></td>
			</tr>
		</tbody>
	</table>
	<br />
	<table id="table-inactive-categories" class="table table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th th:text="#{page.admin.table.category.name}"></th>
				<th th:text="#{page.admin.table.category.description}"></th>
				<th th:text="#{page.admin.table.category.controls}"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="category : ${inactiveCategories}">
				<td th:text="${category.id}"></td>
				<td th:text="${category.name}"></td>
				<td th:text="${category.description}"></td>
				<td><button type="button" class="btn btn-danger" onClick="">Deactivate</button></td>
			</tr>
		</tbody>
	</table>
</th:block>
</html>