<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title th:text="#{page.admin.footer.title}"></title>
	<script type="text/javascript" th:src="@{/js/comments.js}"></script>
</head>
<th:block layout:fragment="content">
</th:block>
</html>