<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{page.posts.title}"></title>
    <script type="text/javascript" th:src="@{/js/lib/date.format.js}"></script>
    <script type="text/javascript" th:src="@{/js/post.js}"></script>
</head>
<th:block layout:fragment="content">
    <h3 th:text="#{page.posts.newpost.title}"></h3>

    <a class="btn btn-info" data-toggle="collapse" href="#form-new-post" role="button" aria-expanded="false" aria-controls="form-new-post" th:text="#{page.posts.newpost.button.label}"></a>
    <form method="POST" th:action="@{/admin/savePost}" id="form-new-post" class="collapse" th:object="${newBlogPostForm}">
        <div class="input-group">
            <input type="text" class="form-control" th:placeholder="#{page.posts.newpost.title.placeholder}" th:field="*{title}" />
            <span class="text-error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid title!</span>
        </div>
        <div class="input-group">
            <textarea class="form-control" rows="20" th:placeholder="#{page.posts.newpost.content}" th:field="*{content}"></textarea>
            <span class="text-error" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Invalid content!</span>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="category-select">Category</label>
            </div>
            <select class="custom-select" id="category-select" th:field="*{categoryId}">

            </select>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{button.comment.send.label}"></button>
    </form>

    <h3 th:text="#{page.posts.table.active.title}"></h3>

    <table id="table-active-posts" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th th:text="#{page.posts.table.title.label}"></th>
                <th th:text="#{page.posts.table.createdby.label}"></th>
                <th th:text="#{page.posts.table.category.label}"></th>
                <th th:text="#{page.posts.table.created.label}"></th>
                <th th:text="#{page.posts.table.lastupdate}"></th>
                <th th:text="#{page.posts.table.controls.label}"></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <h3 th:text="#{page.posts.table.inactive.title}"></h3>

    <table id="table-inactive-posts" class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{page.posts.table.title.label}"></th>
            <th th:text="#{page.posts.table.createdby.label}"></th>
            <th th:text="#{page.posts.table.category.label}"></th>
            <th th:text="#{page.posts.table.created.label}"></th>
            <th th:text="#{page.posts.table.lastupdate}"></th>
            <th th:text="#{page.posts.table.controls.label}"></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</th:block>
</html>