<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{page.user.title}"></title>
    <script type="text/javascript" th:src="@{/js/user.js}"></script>
</head>
<th:block layout:fragment="content">
    <h3 th:text="#{page.user.table.active.title}"></h3>

    <a class="btn btn-info" data-toggle="collapse" href="#form-new-user" role="button" aria-expanded="false" aria-controls="form-new-user" th:text="#{page.user.newuser.button.label}"></a>
    <form method="POST" th:action="@{/admin/createUser}" id="form-new-user" class="collapse" th:object="${newUserForm}">
        <div class="input-group">
            <span class="input-group-text" id="label-username" th:text="#{page.user.new.form.username}"></span>
            <input type="text" class="form-control" aria-describedby="label-username" th:field="*{username}" />
        </div>
        <div class="input-group">
            <span class="input-group-text" id="label-email" th:text="#{page.user.new.form.email}"></span>
            <input type="text" class="form-control" aria-describedby="label-email" name="email" />
        </div>
        <div class="input-group">
            <span class="input-group-text" id="label-first-name" th:text="#{page.user.new.form.firstname}"></span>
            <input type="text" class="form-control" aria-describedby="label-first-name" th:field="*{firstName}" />
        </div>
        <div class="input-group">
            <span class="input-group-text" id="label-last-name" th:text="#{page.user.new.form.lastname}"></span>
            <input type="text" class="form-control" aria-describedby="label-last-name" th:field="*{lastName}" />
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{button.comment.send.label}"></button>
    </form>

    <table id="table-active-users" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th th:text="#{page.user.table.name.label}"></th>
                <th th:text="#{page.user.table.surname.label}"></th>
                <th th:text="#{page.user.table.username.label}"></th>
                <th th:text="#{page.user.table.email.label}"></th>
                <th th:text="#{page.user.table.controls.label}"></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <h3 th:text="#{page.user.table.inactive.title}"></h3>
    <table id="table-inactive-users" class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{page.user.table.name.label}"></th>
            <th th:text="#{page.user.table.surname.label}"></th>
            <th th:text="#{page.user.table.username.label}"></th>
            <th th:text="#{page.user.table.email.label}"></th>
            <th th:text="#{page.user.table.controls.label}"></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</th:block>
</html>