body {
    padding-top: 70px;
}

footer {
    margin-top: 15px;
    padding-top: 15px;
}

.input-group-text {
    min-width: 100px;
}

.text-error {
    display: inline-block;
    width: 100%;
    padding-left:100px;
}