<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title th:text="#{page.category.title}"></title>
	<script type="text/javascript" th:src="@{/js/comments.js}"></script>
</head>
<th:block layout:fragment="content">
	<p th:text="${categoryData.name}"></p>
	<p th:text="${categoryData.description}"></p>

	<div th:each="blogPost : ${categoryData.blogPostData}">
		<div>
			<a th:href="@{'/post/'+${blogPost.id}}" th:text="${blogPost.title}"></a>
		</div>
	</div>
</th:block>
</html>