<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title th:text="#{page.home.title}"></title>
    <script type="text/javascript" th:src="@{/js/comments.js}"></script>
</head>
<th:block layout:fragment="content">
    <div th:text="${error_msg != null }  ? ${error_msg}">

    </div>
    <!-- Post Content -->
    <div th:each="post : ${blogPosts}">
        <!-- Title -->
        <h1 class="mt-4" th:text="${post.blogPost.title}"></h1>
        <!-- Author -->
        <p class="lead">
            by
            <a th:href="@{'/profile/'+${post.blogPost.user.id}}" th:text="${post.blogPost.user.firstName}+ ' '+${post.blogPost.user.lastName}"></a>
        </p>
        <hr />

        <!-- Date/Time -->
        <p th:text="${#dates.format(post.blogPost.created, 'dd. MMMMM yyyy. HH:mm')}"></p>
        <hr />

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""/>
        <hr />

        <p th:utext="${post.blogPost.content}"></p>

        <hr />
        <!-- Comment with nested comments -->
        <div class="media mb-4" th:each="commentData : ${post.commentsData}">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt=""/>
            <div class="media-body">
                <a class="mt-0" th:href="@{'/profile/'+${commentData.comment.user.id}}" th:text="${commentData.comment.user.username}"></a>
                <p th:text="${commentData.comment.content}"></p>

                <div class="media mt-4" th:each="childComment : ${commentData.subComments}">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt=""/>
                    <div class="media-body">
                        <a class="mt-0" th:href="@{'/profile/'+${childComment.user.id}}" th:text="${childComment.user.username}"></a>
                        <p th:text="${childComment.content}"></p>
                    </div>
                </div>
                <!-- Comments Form -->
                <div sec:authorize="isAuthenticated()" class="">
                    <form>
                        <div class="input-group">
                            <textarea class="form-control custom-control" rows="3" style="resize:none" th:placeholder="#{textarea.comment.label}"></textarea>
                            <div th:id="'subComment_'+${commentData.comment.id}" class="input-group-append btn btn-outline-secondary submit-comment" th:text="#{button.comment.send.label}"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Comments Form -->
        <div sec:authorize="isAuthenticated()" class="">
            <form>
                <div class="input-group">
                    <textarea class="form-control custom-control" rows="3" style="resize:none" th:placeholder="#{textarea.comment.label}"></textarea>
                    <div th:id="'blogComment_'+${post.blogPost.id}" class="input-group-append btn btn-outline-secondary submit-comment" th:text="#{button.comment.send.label}"></div>
                </div>
            </form>
        </div>
    </div>
</th:block>
</html>