<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
    <script th:src="@{/js/lib/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-notify/3.1.3-1/bootstrap-notify.js}"></script>
    <script type="text/javascript" th:src="@{/js/notify.js}"></script>
    <script type="text/javascript" th:src="@{/js/category.js}"></script>
</head>
<body>
    <script th:inline="javascript">
            /*<![CDATA[*/
            var page_user_new_error = [[#{page.user.new.error}]];
            var page_user_new_success = [[#{page.user.new.success}]];
            /*]]>*/
    </script>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-warning">
        <div class="container">
            <a class="navbar-brand" th:href="@{/home}">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/profile}">Profile</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" th:href="@{/logout}" th:text="#{page.logout.label} + ' ' + ${#authentication.getPrincipal().getUsername()}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#modal-login" th:text="#{page.login.label}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div sec:authorize="isAnonymous()" class="modal fade" id="modal-login">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{page.login.title}"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="POST" th:action="@{/login}">
                        <div class="input-group">
                            <input type="text" autofocus="autofocus" class="form-control" th:placeholder="#{page.login.username.placeholder}" name="username"/>
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" th:placeholder="#{page.login.password.placeholder}" name="password" />
                        </div>
                        <br />
                        <div class="row">
                            <button type="submit" class="btn btn-warning col-sm" th:text="#{button.login.label}"></button>
                            <button type="button" href="#modal-register" data-toggle="modal" data-dismiss="modal" class="btn btn-success col-sm" th:text="#{register.label}"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div sec:authorize="isAnonymous()" class="modal hide fade" id="modal-register">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" th:text="#{page.login.title}"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form method="POST" th:action="@{/registration}" th:object="${newUserForm}">
                        <span th:if="${submited != null}">
                            <span th:if="!${#fields.hasAnyErrors()}">
                                <script>
                                    notifySuccess(page_user_new_success);
                                </script>
                            </span>
                            <span th:if="${#fields.hasAnyErrors()}">
                                <script>
                                    $('#modal-register').modal('show');
                                    notifyFailure(page_user_new_error);
                                </script>
                            </span>
                        </span>
                        <div class="input-group">
                            <span class="input-group-text" id="register-username" th:text="#{page.user.new.form.username}">Username</span>
                            <input type="text" class="form-control" aria-describedby="register-username" th:field="*{username}" />
                            <span class="text-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Invalid username!</span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="register-first-name" th:text="#{page.user.new.form.firstname}">First name</span>
                            <input type="text" class="form-control" aria-describedby="register-first-name" th:field="*{firstName}" />
                            <span class="text-error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Invalid username!</span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="register-last-name" th:text="#{page.user.new.form.lastname}">Last name</span>
                            <input type="text" class="form-control" aria-describedby="register-last-name" th:field="*{lastName}" />
                            <span class="text-error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Invalid username!</span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="register-email">Email</span>
                            <input type="text" class="form-control" aria-describedby="register-email" th:field="*{email}" />
                            <span class="text-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid username!</span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="register-password">Password</span>
                            <input type="password" class="form-control" aria-describedby="register-password" th:field="*{password}" />
                            <span class="text-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid username!</span>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" id="register-repeat-password">Repeat</span>
                            <input type="password" class="form-control" aria-describedby="register-repeat-password" th:field="*{rPassword}" />
                        </div>
                        <button type="submit" class="btn btn-success" th:text="#{register.label}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="main-container" class="container">
        <div class="row">
            <div class="col-lg-9">
                <th:block layout:fragment="content" >
                </th:block>
            </div>
            <!-- Sidebar Widgets Column -->
            <div class="col-md-3">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for..." />
                            <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categories</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul id="category-even" class="list-unstyled mb-0">

                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul id="category-odd" class="list-unstyled mb-0">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Admin Widget -->
                <div class="card my-4" sec:authorize="hasRole('ROLE_ADMIN')">
                    <h5 class="card-header" th:text="#{panel.admin.title}"></h5>
                    <div class="card-body">
                        <ul>
                            <li>
                                <a th:href="@{/admin/users}" th:text="#{link.admin.user.label}"></a>
                            </li>
                            <li>
                                <a th:href="@{/admin/posts}" th:text="#{link.admin.posts.label}"></a>
                            </li>
                            <li>
                                <a th:href="@{/admin/category}" th:text="#{link.admin.categories.label}"></a>
                            </li>
                            <li>
                                <a th:href="@{/admin/footer}" th:text="#{link.admin.footer.label}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid bg-warning">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="text-uppercase">Footer content</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus tincidunt est quis facilisis. Vivamus rhoncus nisi urna, ac mollis augue volutpat eu. Duis a leo tellus. Nunc volutpat erat vitae mauris laoreet ornare. Etiam sit amet velit lobortis, mattis nisi at, lobortis tortor. Nam eleifend eget nunc sed ullamcorper. Donec nec ante luctus, mattis turpis luctus, pretium nunc.</p>
                </div>
                <div class="col-md-6 text-center">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Link 1</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                        <li>
                            <a href="#">Link 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>