<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title th:text="#{page.home.title}"></title>
	<script type="text/javascript" th:src="@{/js/profile.js}"></script>
</head>
<th:block layout:fragment="content">
	<script th:inline="javascript">
            /*<![CDATA[*/
            var profile_url = /*[[${profile}]]*/;
            /*]]>*/
    </script>
	<div class="input-group">
		<span class="input-group-text" id="profile-username">Username</span>
		<input type="text" readonly="readonly" class="form-control" id="textbox-username" />
	</div>
	<div class="input-group">
		<span class="input-group-text" id="profile-email">Email</span>
		<input type="text" readonly="readonly" class="form-control" id="textbox-email" />
	</div>
	<div class="input-group">
		<span class="input-group-text" id="profile-firstname">First name</span>
		<input type="text" readonly="readonly" class="form-control" id="textbox-firstname" />
	</div>
	<div class="input-group">
		<span class="input-group-text" id="profile-lastname">Last name</span>
		<input type="text" readonly="readonly" class="form-control" id="textbox-lastname" />
	</div>
</th:block>
</html>